---

logger:
  path: logs

jwt:
  issuer: Sample Issuer
  beholder: Sample Audience
  private_key_path: path_to_private_key_path
  public_key_url: path_to_public_key_path
  expiration_time_minutes: 1440

api:
  authorized_users: [
    { username: mariogomezmtz, password: test123! }
  ]
